
#productContainer {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
    justify-content: center;
    padding: 20px;
}


.tarjeta {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 250px;
    padding: 15px;
    text-align: center;
}


.tarjeta img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 5px;
}


.tarjeta button {
    background-color: #d32f2f;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}